body{
    color: white;
    background-color: slategray;
}
.heading{
    width: 80%;
    font-size: 22px;
}
#camera, #result{
    border:2px dashed black;
    width: 350px;
    height:300px;
}
.name_of_object, #result_obj_name, #result_obj_accuracy{
    color: yellow;
}